<div class="topBar">
    <mat-card>
        <div class="element">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <button>Main</button>
        </div>
        <div class="element">
            <mat-icon>reorder</mat-icon>
            <button>Products</button>
        </div>
        <div class="element">
            <mat-icon>account_circle</mat-icon>
            <button>Profile</button>
        </div>
    </mat-card>
</div>
<router-outlet></router-outlet>